.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.adobe/
.bash_history
.cache/
.config/
.cups/
.dropbox/
.filezilla/
.gem/
.gitconfig
.ipython/
.lesshst
.matlab/
.matplotlib/
.node-gyp/
.npm/
.pip/
.putty/
.pylint.d/
.python-eggs/
.rnd
.sqlite_history
.sqlitestudio/
.ssh/
.subversion/
.theano/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NYU/
Pictures/
Projects/
Public/
Sites/
datasets/
