.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.adobe/
.bash_history
.cache/
.config/
.cups/
.dropbox/
.filezilla/
.gem/
.gitconfig
.ipython/
.lesshst
.matlab/
.matplotlib/
.node-gyp/
.npm/
.pip/
.putty/
.pylint.d/
.python-eggs/
.rnd
.sqlite_history
.sqlitestudio/
.ssh/
.subversion/
.theano/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NYU/
Pictures/
Projects/
Public/
Sites/
datasets/
.vim/view/

# From the office box:
.anyconnect
.apdisk
.bash_profile.pysave
.cvspass
.d5w2rc
.dvdcss/
.fontconfig/
.gdb_history
.hgrc
.idlerc/
.inputrc
.local/
.lush/
.music21rc
.octave_hist
.profile
.profile.pysave
Courses/
Wine Files/
datasets
java.log.323
license.lic
matlab_crash_dump.323-1
Applications
Google Drive
.vim/undo/*
*.pyc
