.CFUserTextEncoding
.DS_Store
.Trash/
.Xauthority
.adobe/
.bash_history
.cache/
.config/
.cups/
.dropbox/
.filezilla/
.gem/
.gitconfig
.ipython/
.lesshst
.matlab/
.matplotlib/
.node-gyp/
.npm/
.pip/
.putty/
.pylint.d/
.python-eggs/
.rnd
.sqlite_history
.sqlitestudio/
.ssh/
.subversion/
.theano/
.viminfo
Desktop/
Documents/
Downloads/
Dropbox/
Library/
Movies/
Music/
NYU/
Pictures/
Projects/
Public/
Sites/
datasets/
.vim/view/

# Linux

.ICEauthority
.PlayOnLinux/
.Skype/
.Xauthority-old
.Xmodmap
.audacity-data/
.bash_logout
.bashrc_old
.cmake/
.compiz/
.dbus/
.dmrc
.dropbox-dist/
.gconf/
.gimp-2.8/
.gksu.lock
.gnome/
.gnome2/
.goldendict/
.gstreamer-0.10/
.lightworks.thereCanBeOnlyOne
.macromedia/
.mozilla/
.notify-osd
.nv/
.nvidia-settings-rc
.pki/
.pulse-cookie
.python_history
.steam/
.steampath
.steampid
.supertux2/
.texmf-var/
.thumbnails/
.thunderbird/
.windows-serial
.wine-pipelight/
.wine/
.xinputrc
.xsession-errors
.xsession-errors.old
.zsnes/
Battle.net/
Games/
Lightworks/
NVIDIA_CUDA-5.5_Samples/
NVIDIA_CUDA-6.5_Samples/
NVIDIA_CUDA-7.0_Samples/
StarCraft II/
Steam/
Videos/
dotFiles/
examples.desktop
ldap.conf
missfont.log
mupen64plus_plugins

# From the office box:
.anyconnect
.apdisk
.bash_profile.pysave
.cvspass
.d5w2rc
.dvdcss/
.fontconfig/
.gdb_history
.hgrc
.idlerc/
.inputrc
.local/
.lush/
.music21rc
.octave_hist
.profile
.profile.pysave
Courses/
Wine Files/
datasets
java.log.323
license.lic
matlab_crash_dump.323-1
Applications
Google Drive
.vim/undo/*
*.pyc
